
#scroll-to-top {
    background-color: white;

    display: none;

    position: fixed;
    bottom: 0;
    right: 0;

    margin: 20px;

    text-align: center;
    vertical-align: middle;

    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 2.5em;

    border-radius: 50px;
    border-bottom-style: solid;
    border-width: 1pt;

    cursor: pointer;

    -moz-user-select: none;
    user-select: none;
}

.form-crumbs {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    background-color: white;
}

.form-crumb:before {
    content: '' !important;
    padding: 0 !important;
}

.form-crumb {
    background-color: skyblue;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 2em;
    text-decoration: none !important;
    padding: 10px;
    margin: 10px;
    transition: all 0.5s ease;
}
.form-crumb:hover {
    background-color: lightgray;
    color: inherit;
}

#scroll-to-top:hover {
    color: white;
    background-color: lightgrey;
}